

* {
  box-sizing: border-box;
  margin: 100;
  font-family:"sans-serif";
}
.title {
  display: flex;
  justify-content:space-around;
  margin-top: 2vw;
  color: darkgreen;
  }

.wrapper {
    display: inline-grid;
    grid-template-columns: 100vw;
}
    
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Container holding the image and the text */
.container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}
/* Centered text */
.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  font-size:  25px;
  font: weight 700;
  color:white;
  margin-bottom: 250px;
}

.para {
  display: flex;
  margin-top: 10vh;
  margin-right: 10vh;
  justify-content: space-around;

}
.para1 {
  display: default;
  margin-top: 10vh;
  margin-right: 25vw;
  margin-left: 10vw;
  font-size: 25px;
}

.para h3 {
  width: 20%;
  color: black;
  font-size: 25px;
  font-weight: 700;
}

.shak {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    margin-bottom: 0;
    font-size: 25px;

}
 
body {
  width: 100%;
  height: 100%;
  margin: 0; 
  background: linear-gradient(#F0CDB7, #D9844E); 
}

button:focus {
  outline: none;
}

/* THAT FIXED HEADER */
header.banner {
  position: fixed;
  top: 0;
  z-index: 100;

  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}


/* MENU TOGGLE ICON (makes + turn to x )*/
#menu-toggle {
  position: relative;

  width: 51px;
  height: 51px;

  cursor: pointer;

  border: 1px solid #fff;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  background: transparent;
}
#menu-toggle:before,
#menu-toggle:after {
  position: absolute;

  content: "";
  content: "";
  -webkit-transition: all .350s ease;
     -moz-transition: all .350s ease;
       -o-transition: all .350s ease;
          transition: all .350s ease;

  background-color: #fff;
}

#menu-toggle:before {
  top: 12px;
  left: 25px;

  width: 1px;
  height: 27px;
}
#menu-toggle:after {
  top: 25px;
  left: 12px;

  width: 27px;
  height: 1px;
}
#menu-toggle:hover:before,
#menu-toggle:hover:after {
  -webkit-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
}
.open #menu-toggle:before,
.open #menu-toggle:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* OVERLAY MENU */
#menu {
z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;

  display: table;
  visibility: hidden;
  width: 100%;
  height: 100%;

  font-family: "Lora", serif;

  transition: opacity .5s, visibility .5s;
  text-align: center;

  opacity: 0;
  background-color:black;
}
.open #menu {
z-index: 2;
  visibility: visible;

  opacity: 1;
}
#menu ul {
  display: table-cell;
  padding: 0;
  margin-top: 30px;

  list-style: none;

  vertical-align: middle;
}

#menu ul li a {
  display: block;

  font-size: 28px;
  font-weight: 100;
  line-height: 80px;

  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
  text-decoration: none;

  color: #fff;
}
#menu ul li a:hover {
  font-size: 30px;
}

@media (min-width: 20em) {
  .title {
    display: flex;
    justify-content:space-around;
    margin-top: 2vw;
    color: darkgreen;
    }
  
  .wrapper {
      display: inline-grid;
      grid-template-columns: 150vw;
  }
      
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
  
  /* Container holding the image and the text */
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 3vw;
  }
  /* Centered text */
  .centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  p {
    font-size:  10px;
    font: weight 700;
    color:white;
    margin-bottom: 100px;
  }
  
  .para {
    display: flex;
    margin-top: 3vh;
    margin-right: 3vh;
    justify-content: space-evenly;
  
  }
  .para1 {
    display: default;
    margin-top: 3vh;
    margin-right: 15vw;
    margin-left: 3vw;
    font-size: 15px;
  }
  
  .para h3 {
    width: 20%;
    color: black;
    font-size: 15px;
    font-weight: 700;
  }
  
  .shak {
      display: flex;
      justify-content: center;
      margin-top: 3vw;
      margin-bottom: 0;
      font-size: 15px;
  
  }
}