/* Color Scheme Options
Primary: #9f9149
Secondary: #49579f
Tertiary: #98a1d0

Primary: #4ea3d9
Secondary: #d9844e
Tertiary: #f0cdb7 */

  body {
    width: 100%;
    height: 100%;
    margin: 0;  
  }
  
  button:focus {
    outline: none;
  }
  
  /* THAT FIXED HEADER */
  header.banner {
    position: fixed;
    top: 0;
    z-index: 100;
  
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }
  
  
  /* MENU TOGGLE ICON (makes + turn to x )*/
  #menu-toggle {
    position: relative;
  
    width: 51px;
    height: 51px;
  
    cursor: pointer;
  
    border: 1px solid #fff;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    background: transparent;
  }
  #menu-toggle:before,
  #menu-toggle:after {
    position: absolute;
  
    content: "";
    content: "";
    -webkit-transition: all .350s ease;
       -moz-transition: all .350s ease;
         -o-transition: all .350s ease;
            transition: all .350s ease;
  
    background-color: #fff;
  }
  
  #menu-toggle:before {
    top: 12px;
    left: 25px;
  
    width: 1px;
    height: 27px;
  }
  #menu-toggle:after {
    top: 25px;
    left: 12px;
  
    width: 27px;
    height: 1px;
  }
  #menu-toggle:hover:before,
  #menu-toggle:hover:after {
    -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  .open #menu-toggle:before,
  .open #menu-toggle:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  /* OVERLAY MENU */
  #menu {
  z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
  
    display: table;
    visibility: hidden;
    width: 100%;
    height: 100%;
  
    font-family: "Lora", serif;
  
    transition: opacity .5s, visibility .5s;
    text-align: center;
  
    opacity: 0;
    background-color: black;
  }
  .open #menu {
  z-index: 2;
    visibility: visible;
  
    opacity: 1;
  }
  #menu ul {
    display: table-cell;
    padding: 0;
    margin-top: 30px;
  
    list-style: none;
  
    vertical-align: middle;
  }
  
  #menu ul li a {
    display: block;
  
    font-size: 28px;
    font-weight: 100;
    line-height: 80px;
  
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    text-decoration: none;
  
    color: #fff;
  }
  #menu ul li a:hover {
    font-size: 30px;
  }

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }
  
  h1 {
    color: black;
    font-size: 18px;
    font-weight: 700;
    margin-bottom:10px;
    text-align: center;
  }
  
  p {
    font-size: 17px;
    font-weight:300;
    color: black;
    margin-bottom: 20px;
    text-align: center;
  }
  
  section {
    text-align: center;
  }
  
  button {
    border: none;
    background: #98a1d0;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .img {
    border-radius: 15%;
    height: 15%;
  }
  
  .container-img {
    position: relative;
    text-align: center;
    color: #49579f;
    font-weight: bold;
    padding-bottom: 15px;
  }
  
  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media only screen and (min-width: 20rem) { 
       body {
           background: linear-gradient(#f0cdb7, #d9844e) no-repeat fixed;
       }
  }
  
  @media only screen and (min-width: 60rem) {
      body {
          background: linear-gradient(#f0cdb7, #d9844e) no-repeat fixed;
      }
  }  